.btn {
    @include shadow;
    @include gradient;
    text-decoration: none;
    color: white;
    padding: $s-3 $s-4;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
    &:hover {
        @include shadow-xl;
        filter: saturate(70%) brightness(120%);
    }
}