button, button a {
    background-color: none;
    background: linear-gradient(170deg, $second-color, $first-color);
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: $s-3;
    border: none;
    border-radius: 50px;
}
button {
    @include shadow;
}