* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
body li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body ul, body figure {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

.display {
  font-family: "Shrikhand", cursive;
}

.btn {
  box-shadow: 2px 4px 16px -2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  background-color: none;
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 4px 8px 32px -4px rgba(0, 0, 0, 0.2);
  filter: saturate(70%) brightness(120%);
}

.main-header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0 0 5px rgba(65, 35, 35, 0.5);
  z-index: 50;
}
.main-header figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.main-header figure img {
  max-width: 200px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.main-header figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #EAEAEA;
}
.main-header section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 3rem;
}
.main-header h1 {
  margin-top: 0;
}
.main-header p {
  opacity: 0.7;
}
.main-header svg {
  margin-right: 0.4rem;
}

section {
  padding: 2rem;
}

#fonctionnement ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
#fonctionnement article h4 {
  background-color: #9356DC;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  width: 24px;
  border-radius: 50%;
  color: white;
  font-weight: normal;
  margin-right: -12px;
  z-index: 50;
  display: relative;
}
#fonctionnement article p {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 16px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #F6F6F6;
  padding: 1.5rem 2rem;
  border-radius: 20px;
}
#fonctionnement article p svg {
  color: #7E7E7E;
  margin-right: 1rem;
  margin-left: -12px;
}
#fonctionnement article .highlight {
  background-color: #F5EDFF;
}
#fonctionnement article .highlight svg {
  color: #9356DC;
}

#restaurants {
  background-color: #EAEAEA;
}
#restaurants li {
  box-shadow: 2px 4px 16px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  transition: 0.3s;
}
#restaurants a {
  text-decoration: none;
}
#restaurants figure {
  width: 100%;
}
#restaurants img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#restaurants figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
#restaurants h3,
#restaurants p {
  margin-top: 0;
  margin-bottom: 0.2rem;
}
#restaurants article {
  width: 100%;
  color: black;
  text-decoration: none;
}
#restaurants aside {
  position: relative;
}
#restaurants .heart {
  width: 32px;
  opacity: 1;
  color: black;
  transition: 0.3s;
}
#restaurants .heart-hover {
  position: absolute;
  width: 32px;
  opacity: 0;
  top: 0;
  left: 0;
  fill: url(#MyGradient);
  transition: 0.3s;
}
#restaurants li a:hover .heart {
  opacity: 0;
}
#restaurants li a:hover .heart-hover {
  opacity: 1;
}
#restaurants .new {
  box-shadow: 2px 4px 16px -2px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 50;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  color: #008766;
  padding: 0.4rem 1rem;
  border-radius: 2px;
}

footer {
  background-color: #353535;
  padding: 2rem;
}
footer .logo img {
  filter: invert(100%) saturate(7431%) hue-rotate(147deg) brightness(95%) contrast(114%);
  height: 1rem;
  margin-bottom: 1rem;
}
footer a {
  color: white;
  text-decoration: none;
}
footer svg {
  margin-right: 0.8rem;
  max-height: 0.8rem;
}
footer li {
  padding: 0.2rem;
}

.menu-header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menu-header .logo a {
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  left: 2rem;
}
.menu-header .logo a:hover {
  color: black;
}
.menu-header figure img {
  max-width: 200px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu-hero {
  position: relative;
  padding: 0;
  z-index: 0;
}
.menu-hero figure {
  height: 300px;
  width: 100%;
}
.menu-hero figure img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.menu-content {
  background-color: #F6F6F6;
  border-radius: 3rem;
  padding: 1rem;
  padding-bottom: 4rem;
  margin-top: -4rem;
  position: relative;
  z-index: 20;
}
.menu-content h1 {
  font-size: 2rem;
}
.menu-content aside {
  position: relative;
  margin-right: 1rem;
}
.menu-content .heart {
  width: 32px;
  opacity: 1;
  color: black;
  transition: 0.3s;
}
.menu-content .heart-hover {
  position: absolute;
  width: 32px;
  opacity: 0;
  top: 0;
  left: 0;
  fill: url(#MyGradient);
  transition: 0.3s;
}
.menu-content header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.menu-content header:hover .heart {
  opacity: 0;
}
.menu-content header:hover .heart-hover {
  opacity: 1;
}
.menu-content h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
  margin-bottom: 2rem;
}
.menu-content h2::after {
  content: "";
  width: 2rem;
  position: absolute;
  border-bottom: 0.2rem solid #99E2D0;
  bottom: -0.4rem;
  left: 0;
}
.menu-content h3,
.menu-content p {
  margin: 0;
}
.menu-content li a {
  box-shadow: 2px 4px 16px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  overflow: hidden;
  text-decoration: none;
  color: black;
}
.menu-content li a .menu-title {
  padding: 1rem;
  width: 100%;
}
.menu-content li a .price {
  padding: 1rem;
  margin-top: auto;
  transition: 0.3s;
  transform: translateX(56px);
}
.menu-content li a .menu-check {
  transform: translateX(56px);
  background-color: #99E2D0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  transition: 0.3s;
}
.menu-content li a .menu-check svg {
  color: white;
}
.menu-content li a:hover .price {
  transform: translateX(0);
}
.menu-content li a:hover .menu-check {
  transform: translateX(0);
}
.menu-content article {
  margin-bottom: 4rem;
}
.menu-content .btn {
  display: flex;
  width: min-content;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
