* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
body li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body ul, body figure {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

.display {
  font-family: "Shrikhand", cursive;
}

button, button a {
  background-color: none;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 50px;
}

button {
  box-shadow: 2px 4px 16px -2px rgba(0, 0, 0, 0.2);
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0 0 5px rgba(65, 35, 35, 0.5);
  z-index: 50;
}
header figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
header figure img {
  max-width: 200px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
header figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #EAEAEA;
}
header section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 3rem;
}
header h1 {
  margin-top: 0;
}
header p {
  opacity: 0.7;
}
header svg {
  margin-right: 0.4rem;
}

section {
  padding: 2rem;
}

#fonctionnement ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
#fonctionnement article h4 {
  background-color: #9356DC;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  width: 24px;
  border-radius: 50%;
  color: white;
  font-weight: normal;
  margin-right: -12px;
  z-index: 50;
  display: relative;
}
#fonctionnement article p {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 16px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #F6F6F6;
  padding: 1.5rem 2rem;
  border-radius: 20px;
}
#fonctionnement article p svg {
  color: #7E7E7E;
  margin-right: 1rem;
  margin-left: -12px;
}
#fonctionnement article .highlight {
  background-color: #F5EDFF;
}
#fonctionnement article .highlight svg {
  color: #9356DC;
}

#restaurants {
  background-color: #EAEAEA;
}
#restaurants li {
  box-shadow: 2px 4px 16px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
#restaurants a {
  text-decoration: none;
}
#restaurants figure {
  width: 100%;
}
#restaurants img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#restaurants figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
#restaurants h3,
#restaurants p {
  margin-top: 0;
  margin-bottom: 0.2rem;
}
#restaurants article {
  width: 100%;
  color: black;
  text-decoration: none;
}
#restaurants aside {
  position: relative;
}
#restaurants .heart {
  width: 32px;
  opacity: 1;
  color: black;
}
#restaurants .heart-hover {
  position: absolute;
  width: 32px;
  opacity: 0;
  top: 0;
  left: 0;
  fill: url(#MyGradient);
}
#restaurants li a:hover .heart {
  opacity: 0;
}
#restaurants li a:hover .heart-hover {
  opacity: 1;
}
#restaurants .new {
  box-shadow: 2px 4px 16px -2px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 50;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  color: #008766;
  padding: 0.4rem 1rem;
  border-radius: 2px;
}

/*# sourceMappingURL=style.css.map */
