@mixin flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin shadow {
    box-shadow: 2px 4px 16px -2px rgba(0, 0, 0, 0.2);
}
@mixin shadow-xl {
    box-shadow: 4px 8px 32px -4px rgba(0, 0, 0, 0.3);
}
@mixin gradient {
    background: linear-gradient(170deg, $second-color, $first-color);
}

// breakpoints

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}
@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}