// @follow-up COLORS 
$first-color: #9356DC;
$second-color: #FF79DA;
$second-color-light: #F5EDFF;
$third-color: #99E2D0;
$fourth-color: #7E7E7E;
$new-color: #99E2D0;
$new-color-text: #008766;
$light-bg: #EAEAEA;
$very-light-bg: #F6F6F6;

// @follow-up SIZES
$s-1: 0.2rem;
$s-2: 0.4rem;
$s-3: 1rem;
$s-35: 1.5rem;
$s-4: 2rem;
$s-5: 3rem;
$s-6: 4rem;




